<aside class="d-bg">
    <div class="card">
        <div class="tips"><i class="fa fa-fire"></i>&nbsp;&nbsp;推荐</div>
        <ul class="card-content">
            {{foreach from=$hots item=hot name=hot}}
            <li>
                <!--<span style="background-color: red">{{$smarty.foreach.hot.index + 1}}</span>-->
                <a href="{{url('read',[$hot.id])}}">{{$hot.title}}</a>
            </li>
            {{/foreach}}
        </ul>
    </div>
    {{if isset($comments)}}
    <div class="card d-bg">
        <div class="tips"><i class="fa fa-qrcode"></i>&nbsp;&nbsp;二维码</div>
        <div>
            <img style="width:100%" src="data:image/png;base64,{{$note.qrcode}}" alt="">
        </div>
    </div>
    {{/if}}
    <div class="card">
        <div class="tips">留言</div>
        <div class="card-content">
            <input type="text" class="login-input" style="margin:.5em 0">
            <input type="text" class="login-input" style="margin:.5em 0">
            <input type="submit" value="提交"
                   style="width:100%;height: 3em;color: black;background-color: white;outline: none;border: 1px solid #1E90FF;border-radius: 5px">
        </div>
    </div>
    <div class="card">
        <div class="tips"><i class="fa fa-link"></i>&nbsp;&nbsp;好友</div>
        <div class="card-content">
            <a class="tags" target=" _blank
        " title="世界皆黑，唯我独白" href="https://imjunjun.cn">军军</a>
            <a class="tags" target=" _blank
        " title="一刻模板" href="https://www.1kmb.com">一刻模板</a>
        </div>
    </div>
</aside>