<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block name = "title"}}YAO - 一款简单易用的轻量PHP框架!{{/block}}</title>
    <link rel="stylesheet" href="/static/css/css.css?202101257">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    {{block name="css"}}{{/block}}
</head>
<body>
<div id="app">
    <header>
        <nav>
            <ul class="bg-nav">
                <li class=""><a href="/"><i class="fa fa-gamepad"></i> Yao</a></li>
                <li class="left-items d-bg"><a href="/">主页</a></li>
            </ul>
            <ul style="display: flex;justify-content: flex-end">
                <li class="d-bg"><input required style="height: 2.3em;
    padding: 0 .5em;
    margin-right:1.3em;
    width: 18em;
    outline: none;
    border: none;
    border-radius: 5px;" type="text" name="" id="top-search" value="{{if isset($keyword)}}{{$keyword}}{{/if}}"/></li>
                <li class=""><a href="/note/96.html"><i
                        class="fa fa-book"></i> 文档</a></li>
                <li class="d-sm dropdown-btn"><a href="#" id="dropdown"><i class="fa fa-bars"></i></a></li>
                <li class="d-bg" style="min-width:2.5em"><a href="/login"><i class="fa fa-sign-in"></i></a></li>
            </ul>
        </nav>
        <ul id="sm-nav" class="bar">
            <li><a href="/login">登录</a></li>
            <li><a href="/notes/1.html">Notes</a></li>
        </ul>
    </header>
    {{block name = "body"}}{{/block}}
    <footer>
        <div style="margin-top:18px;"></div>
        <a href="https://www.1kmb.com">一刻模板</a> |
        <a href="https://www.jetbrains.com/?from=topyao">
            使用Phpstorm开发</a><br><br><a href="http://beian.miit.gov.cn" target="_blank"
                                       class="text">陕ICP备20000693号-1</a> | <a href="https://github.com/topyao/yao"><i
            class="fa fa-yelp"></i>
        Yao</a>
    </footer>
</div>
</body>
<script src="/static/js/jquery-3.5.1.js"></script>
<script>
    $(function () {
        $('.dropdown-btn').on('click', function () {
            if ($('#sm-nav').css('display') === 'none') {
                $('#sm-nav').css('display', 'block')
                $('#dropdown').html('<i class="fa fa-close"></i>')
            } else {
                $('#sm-nav').css('display', 'none')
                $('#dropdown').html('<i class="fa fa-bars"></i>')
            }
        });
    });

    $(window).on('keyup', function (e) {
        if ($('#top-search').is(':focus') && 13 === e.keyCode) {
            window.location.href = '/search?kw=' + $('#top-search').val();
        }
    });

</script>
{{block name="js"}}{{/block}}

</html>