{{extends file="index/layout/main.html"}}
{{block name="body"}}
{{if empty(\Yao\Facade\Request::get('p'))}}
<div class="banner">
    <div id="banner-title"></div>
    <div id="banner-content">
        <div>
            <p class="big-font">YAO</p>
            <p class="small-font">使用轻量的PHP框架开发</p>
            <a target="_blank" id="download" href="#">Loading...</a>
            <p class="links">
                <span id="version">Loading...</span>
                <a href="https://github.com/topyao/yao">Github</a><a
                    href="https://packagist.org/packages/chengyao/yao">Packagist</a>作者:YAO</p>
        </div>
        <div class="banner-right">
            <img src="/static/img/logo1.png" style="vertical-align:middle;width: 2.5em;height: 2.5em" alt="">
            <!--            <i class="fa fa-thumbs-o-up"></i>-->
        </div>
    </div>
</div>
{{/if}}
{{if !empty(\Yao\Facade\Request::get('p'))}}
<div id="banner-title"></div>
{{/if}}
<main id="app">
    <div class="container">
        <div class="left" style="width:72%;">
            <div class="par-card">
                <div class="card-sm">
                    <div style="height: 10em;background: white url('/static/img/2.jpg') no-repeat ;background-size:cover;border-radius: 5px 5px 0 0">

                    </div>
                    <div style="height: 8em;padding:.5em;position: relative">
                        <p style="margin: .5em;font-size: .95em;font-weight:bold;"><a style="color:#1E90FF"
                                                                                      href="/note/96.html">PHP框架YAO完全开发手册</a>
                        </p>
                        <p style="margin: .5em;font-size: .85em;color:#808080">
                            一款简单易用的轻量PHP框架！
                        </p>
                        <div style="position:absolute;bottom:1em;margin:0 .5em;">
                            <i class="fa fa-bars"> 这是分类</i>
                        </div>
                    </div>
                </div>
                <div class="card-sm">
                    <div style="height: 10em;background: white url('/static/img/3.jpg') no-repeat ;background-size:cover;border-radius: 5px 5px 0 0">

                    </div>
                    <div style="height: 8em;padding:.5em;position: relative">
                        <p style="margin: .5em;height:1.2em;font-size: .95em;font-weight:bold;color:#1E90FF;overflow: hidden">
                            这是标题这是标题这是标题这是标题这是标题这是标题这是标题</p>
                        <p style="margin: .5em;height:4em;font-size: .85em;color:#808080;overflow: hidden">
                            标题标题标题标题标题标题
                            标题标题标题标题标题标题
                            标题标题标题标题标题标题
                            标题标题标题标题标题标题
                            标题标题标题标题标题标题
                        </p>
                        <div style="position:absolute;bottom:1em;margin:0 .5em;">
                            <i class="fa fa-bars"> 这是分类</i>
                        </div>
                    </div>
                </div>
                <div class="card-sm">
                    <div style="height: 10em;background: white url('/static/img/4.jpg') no-repeat ;background-size:cover;border-radius: 5px 5px 0 0">

                    </div>
                    <div style="height: 8em;padding:.5em;position: relative">
                        <p style="margin: .5em;font-size: .95em;font-weight:bold;color:#1E90FF">这是标题</p>
                        <p style="margin: .5em;font-size: .85em;color:#808080">
                            标题标题标题标题标题标题
                        </p>
                        <div style="position:absolute;bottom:1em;margin:0 .5em;">
                            <i class="fa fa-bars"> 这是分类</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content" style="padding:.5em">
                    {{foreach from=$notes item=note}}
                        <div class="tips">
                            <a href="{{url('read',[$note.id])}}">{{$note.title}}</a>
                        </div>
                        <div class="description">
                            {{$note.text|mb_substr:0:300}}
                        </div>
                    {{/foreach}}
                </div>
            </div>
            <ul class="paginate" style="text-align: center">
                {{$paginate}}
            </ul>
        </div>
        {{include file="index/layout/aside.html"}}
    </div>
</main>
{{/block}}
{{block name="js"}}
<script>
    $(function () {
        $.get('https://api.github.com/repos/topyao/yao/tags', function (data, status) {
            if ('success' === status) {
                $('#download').html('<i class="fa fa-download"></i>立即下载').attr('href', data[0].zipball_url);
                $('span#version').text('v' + data[0].name);
            }
        })
    })

</script>
{{/block}}