{{extends file="index/layout/main.html"}}
{{block name="body"}}
<main style="margin-top: 3.5em;">
    <div class="main">
        <section>
            <h2 style="text-align:center">关键词检索</h2>
            <div id="left">
                <form action="" name="form" method="POST" enctype="multipart/form-data">
                    <input type="text" name="url"
                           style="display: block;margin:0 auto;height: 2.5em;width:60%;padding-left: .5em;margin-bottom: 1em;"
                           placeholder="输入检索url，关键词用{k}代替">
                    <textarea name="keywords" id="" cols="94" rows="10" placeholder="输入关键字，使用英文逗号隔开"
                              style="padding:.5em;font-size:1.1em;width: 60%;font-weight: bold;"></textarea><br>
                    <select name="type" id="" style="width: 50%;">
                        <option value="except">排除</option>
                        <option value="contain">包含</option>
                    </select>
                    <input type="text" name="rule" placeholder="输入规则">
                    <input type="button" id="submit" value="提交">
                </form>
            </div>
        </section>
        <section id="handler">
            <span v-on:click="resize" v-text="aside"></span>
        </section>
        <section id="right" v-bind:style="aside_width" v-cloak>
            <h3>检索结果</h3>
            <table align="center" width="100%" style="text-align: center">
                <tr>
                    <th>文件</th>
                    <th>大小</th>
                </tr>
                <tr v-for="f in files">
                    <td><a v-bind:download="`/download?hash=${f.md5}`" v-bind:href="`/download?hash=${f.md5}`">tt</a>
                    </td>
                    <td>tt</td>
                </tr>
            </table>
        </section>
    </div>
</main>
{{/block}}
{{block name="js"}}

<script>
    $("#submit").on('click', function () {
        var data = $(form).serialize();
        axios.post('/sp', data).then(d => {
            if (0 != d.length) {
                alert(d.data);
            }
        });
    })

</script>

{{/block}}