{{extends file="layout/main.html"}}
{{block name="body"}}
<main id="app">
    <div style="height: 2.5em"></div>
    <div style="
        min-height: 80vh;
        display: flex;
        box-sizing: border-box;">
        <div class="left" style="width:72%;">
            <div
                style="background-color: white; border-radius: 5px;box-shadow: 0 0 3px 0 rgb(226, 225, 225);height: 40%;position: relative;display:block;padding:2%;">
                <div style="display:flex;justify-content: flex-end;">
                    <a href="" class="tags">测试</a>
                    <a href="" class="tags">测试以下</a>
                    <a href="" class="tags">测试</a>
                </div>
                <div style="font-size:1.5em;margin: .5em 0;font-weight: bold;padding:0 1em;text-align: center;">这是文章的标题
                </div>
            </div>

            <div
                style="background-color: white; border-radius: 5px;box-shadow: 0 0 3px 0 rgb(226, 225, 225);height:55%; margin-top: 1%;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br> <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="right"
            style="width:27%;background-color: white;margin-left:1%; border-radius: 5px;box-shadow: 0 0 2px 0 rgb(226, 225, 225);">

        </div>
        <!-- <section>
            <div class="input-area">
                <input type="text" name="todo">
            </div>
        </section>
        <section id="handler">
            <span>《</span>
        </section>
        <section id="right">

        </section> -->
    </div>
</main>
{{/block}}