{{extends file="index/layout/main.html"}}
{{block name = "title"}}列表{{/block}}
{{block name="body"}}
<main id="app" style="margin-top: 3.5em">
    <div class="container">
        <div class="left" style="width:72%;">
            <div class="card">
                <div class="content" style="padding:1em">
                    {{foreach from=$notes item=note}}
                        <div class="tips">
                            <a href="{{url('read',[$note.id])}}">{{$note.title}}</a>
                        </div>
                        <div style="padding:.5em 1em 1em;color:grey;font-size:.95em">
                            {{$note.text|mb_substr:0:300}}
                        </div>
                    {{/foreach}}
                </div>
            </div>
            <ul class="paginate" style="text-align: center">
                <li><a href="">分页</a></li>
                <li><a href="{{url('list',[1])}}">1</a></li>
                <li><a href="{{url('list',[2])}}">2</a></li>
                <li><a href="{{url('list',[3])}}">3</a></li>
                <li><a href="">末尾</a></li>
            </ul>
        </div>
        {{include file="index/layout/aside.html"}}
    </div>
</main>
{{/block}}