{{extends file="index/layout/main.html"}}
{{block name = "title"}}列表{{/block}}
{{block name="body"}}
<main id="app" style="margin-top: 3.5em">
    <div class="container">
        <div class="left" style="width:72%;">
            <div class="card">
                <div class="content" style="padding:.5em">
                    {{foreach from=$notes item=note}}
                    <div class="tips">
                        <a href="{{url('read',[$note.id])}}">{{$note.title}}</a>
                    </div>
                    <div class="description">
                        {{$note.text|mb_substr:0:300}}
                    </div>
                    {{/foreach}}
                </div>
            </div>
            <ul class="paginate" style="text-align: center">
                {{$paginate}}
                共{{$totalPage}}页
            </ul>
        </div>
        {{include file="index/layout/aside.html"}}
    </div>
</main>
{{/block}}