{{extends file="index/layout/main.html"}}
{{block name="title"}}{{$note.title}}{{/block}}
{{block name="css"}}
<link rel="stylesheet" href="/static/editor/css/editormd.preview.css" />
<!--<link rel="stylesheet" href="/static/editor/css/editormd.css"/>-->
{{/block}}
{{block name="body"}}
<main id="app" style="margin-top: 3.5em">
    <div class="container">
        <div class="left" style="width:72%;">
            <div id="top">
                {{if !empty($note.tags)}}
                <div style="display:flex;justify-content: space-between;">
                    <div class="tips"><i class="fa fa-font"></i>&nbsp;&nbsp;标题</div>
                    <div style="height: 1.7em;">
                        {{foreach from=$note.tags item=tag}}
                        <a href="#" class="tags">{{$tag}}</a>
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
                <p class="title">{{$note.title}}</p>
                <p style="text-align: center;font-size: .9em;margin: 0"><i
                        class="fa fa-clock-o"></i>&nbsp;{{$note.create_time|time_convert}}&nbsp;&nbsp;
                    <i class="fa fa-user"></i>&nbsp;Yao&nbsp;&nbsp;<i
                        class="fa fa-eye"></i>&nbsp;{{$note.hits}}&nbsp;&nbsp;<i
                        class="fa fa-comment"></i>&nbsp;{{count($comments)}}
                </p>
            </div>

            <div class="card2">
                <div class="tips"><i class="fa fa-bars"></i>&nbsp;&nbsp;<a href="/">首页</a> / <a href="/notes">笔记</a> /
                    {{$note.title}}</div>
                <div id="test-editormd-view2">
                    <textarea id="append-test" style="display: none">{{$note.text}}</textarea>
                </div>
            </div>
            <div class="card2">
                <div
                    style="border-bottom:1px solid #e0e0e0;display: flex;justify-content: space-between;padding:.5em 1em 1em;font-size: .95em">
                    <b>{{count($comments)}}条评论</b>
                    <span style="color: grey">切换顺序</span>
                </div>
                <div style="margin:1em">
                    <div style="display: flex;justify-content: space-between;">
                        <div contenteditable="true"
                            style="padding:0 .5em;outline:none;border:1px solid #dbdbdb;line-height:2em;height: 2em;width:90%;margin-right: .5em;border-radius: 5px">
                        </div>
                        <div style="width: 10%;min-width: 3em;">
                            <button
                                style="height: 100%;cursor:pointer;outline: none;width:100%;border:none;background-color: #4F70F6;color: white;border-radius: 5px">
                                发布
                            </button>
                        </div>
                    </div>


                    <div>
                        {{foreach from=$comments item=comment}}
                        <div style="margin: 1em 0 0;font-size: 14px;">
                            <div style="display: flex;justify-content: space-between;line-height: 2em;height: 2em">
                                <div><img src="/static/img/logo.png" alt=""
                                        style="width: 2em;height: 2em;border-radius: 50%"><b
                                        style="position:absolute;font-size:14px;height: 2em;margin-left:.5em">
                                        {{$comment.name}}</b>
                                </div>
                                <span style="color:grey;font-size: 13px">{{date('H:i:s')}}</span>
                            </div>
                            <div style="padding:.5em 0 0 2.5em;word-break: break-all;word-wrap: break-word">
                                <div style="border-bottom: 1px solid #dbdbdb;">
                                    <div style="margin-bottom: 1em">
                                        {{$comment.comment}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/foreach}}
                    </div>

                </div>
            </div>
        </div>
        {{include file="index/layout/aside.html"}}
    </div>
</main>
{{/block}}
{{block name="js"}}
<script src="/static/editor/lib/marked.min.js"></script>
<script src="/static/editor/lib/prettify.min.js"></script>
<script src="/static/editor/lib/raphael.min.js"></script>
<script src="/static/editor/lib/underscore.min.js"></script>
<script src="/static/editor/lib/sequence-diagram.min.js"></script>
<script src="/static/editor/lib/flowchart.min.js"></script>
<script src="/static/editor/lib/jquery.flowchart.min.js"></script>
<!--<script src="/static/editor/editormd.js"></script>-->
<script src="/static/editor/editormd.min.js"></script>
<script>
    var testEditormdView, testEditormdView2;

    // $.get("test.md", function (markdown) {
    //
    //     testEditormdView = editormd.markdownToHTML("test-editormd-view", {
    //         markdown: markdown,//+ "\r\n" + $("#append-test").text(),
    //         //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
    //         htmlDecode: "style,script,iframe",  // you can filter tags decode
    //         //toc             : false,
    //         tocm: true,    // Using [TOCM]
    //         //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
    //         //gfm             : false,
    //         //tocDropdown     : true,
    //         // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
    //         emoji: true,
    //         taskList: true,
    //         tex: true,  // 默认不解析
    //         flowChart: true,  // 默认不解析
    //         sequenceDiagram: true,  // 默认不解析
    //     });
    //
    //     //console.log("返回一个 jQuery 实例 =>", testEditormdView);
    //
    //     // 获取Markdown源码
    //     //console.log(testEditormdView.getMarkdown());
    //
    //     //alert(testEditormdView.getMarkdown());
    // });

    testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
        htmlDecode: "style,script,iframe",  // you can filter tags decode
        emoji: false,
        taskList: true,
        tex: true,  // 默认不解析
        flowChart: true,  // 默认不解析
        sequenceDiagram: true,  // 默认不解析
    });
    // testEditormdView = editormd.markdownToHTML("test-editormd-view", {
    //     htmlDecode: "style,script,iframe",  // you can filter tags decode
    //     emoji: false,
    //     taskList: true,
    //     tex: true,  // 默认不解析
    //     flowChart: true,  // 默认不解析
    //     sequenceDiagram: true,  // 默认不解析
    // });
</script>
{{/block}}