{{extends file="index/layout/main.html"}}
{{block name="title"}}{{$note.title}}{{/block}}
{{block name="css"}}
<link rel="stylesheet" href="/static/editor/css/editormd.preview.css"/>
{{/block}}
{{block name="body"}}
<main id="app" style="margin-top: 3.5em">
    <div class="container">
        <div class="card d-bg"
             style="width: 13em;margin-right: .5em;height: 100%">
            <div class="tips" style="border-left: 3px solid #4F70F6">目录</div>
            <div id="catalog" style="padding:.5em;">
            </div>
        </div>
        <div class="left" style="width:60%;">
            <div id="top">
                {{if !empty($note.tags)}}
                <div style="display:flex;justify-content: space-between;">
                    <div class="tips"><i class="fa fa-font"></i>&nbsp;&nbsp;标题</div>
                    <div style="height: 1.7em;">
                        {{foreach from=$note.tags item=tag}}
                        <a href="#" class="tags">{{$tag}}</a>
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
                <p class="title">{{$note.title}}</p>
                <p style="text-align: center;font-size: .9em;margin: 0;color: grey"><i
                        class="fa fa-clock-o"></i>&nbsp;{{$note.create_time|time_convert}}&nbsp;&nbsp;
                    <i class="fa fa-user"></i>&nbsp;Yao&nbsp;&nbsp;<i
                            class="fa fa-eye"></i>&nbsp;{{$note.hits}}&nbsp;&nbsp;<i
                            class="fa fa-comment"></i>&nbsp;{{$comments_count}}
                    {{if \Yao\Facade\Session::get('user.id') eq $note.user_id}}
                    <a href="/notes/edit/{{$note.id}}">编辑</a>
                    {{/if}}
                </p>
            </div>


            <div class="card2">
                <div class="tips"><i class="fa fa-bars"></i>&nbsp;&nbsp;<a href="/">首页</a> / <a href="/notes">笔记</a>
                    /
                    {{$note.title}}
                </div>
                <div id="test-editormd-view2">
                    <textarea id="append-test" style="display: none">{{$note.text}}</textarea>
                </div>
            </div>


            <div class="card2">
                <div
                        style="border-bottom:1px solid #e0e0e0;display: flex;justify-content: space-between;padding:.5em 1em 1em;font-size: .95em">
                    <b>{{$comments_count}}条评论</b>
                    {{if \Yao\Facade\Request::get('order') == 1}}
                    <a id="sort" data-id="1" href="?order=0"><span style="color: grey">按发布时间排序</span></a>
                    {{else}}
                    <a id="sort" data-id="0" href="?order=1"><span style="color: grey">按点赞排序</span></a>
                    {{/if}}
                </div>
                <div style="margin:1em .5em .5em">
                    <form action="" name="form">
                        <textarea
                                style="font-size:14px;box-sizing:border-box;padding:.5em .5em;outline:none;border:1px solid #dbdbdb;line-height:1.4em;height: 2em;width:100%;min-height:8em;border-radius: 5px;resize:vertical;margin-bottom: .5em;"
                                name="comment" placeholder="留下你的笔迹..."></textarea>
                        <div style="display: flex;justify-content: space-between;box-sizing: border-box">
                            <input type="text" placeholder="用户名" name="name"
                                   style="font-size:13px;padding:0 .6em;width: 90%;outline:none;border:1px solid #dbdbdb;line-height:2.5em;height: 2.5em;border-radius: 5px;">
                            <input type="hidden" name="note_id" value="{{$note.id}}">
                            <div style="width: 2.8em;text-align: center;margin: 0 .3em"><i
                                    style="font-size: 2.1em;color: #4F70F6;cursor:pointer;" title="输入{狗头}可以发送狗头表情"
                                    class="fa fa-smile-o"></i></div>
                            <div style="width: 10%;min-width: 3em;">
                                <input type="button"
                                       style="height: 100%;cursor:pointer;outline: none;width:100%;border:none;background-color: #4F70F6;color: white;border-radius: 5px"
                                       id="comment" value="发布">
                            </div>
                        </div>
                    </form>
                    <div id="comments">
                        {{foreach from=$comments item=comment}}
                        <div style="margin: 1em 0 0;font-size: 14px;">
                            <div style="display: flex;justify-content: space-between;line-height: 2em;height: 2em">
                                <div><img src="/static/img/logo.png" alt=""
                                          style="width: 2em;height: 2em;border-radius: 50%"><b
                                        style="position:absolute;font-size:14px;height: 2em;margin-left:.5em">
                                    {{$comment.name}}</b>
                                </div>
                                <span style="color:grey;font-size: 13px">{{$comment.create_time|time_convert}}</span>
                            </div>
                            <div style="padding:.5em 0 0 2.5em;word-break: break-all;word-wrap: break-word">
                                <div>
                                    <div style="margin-bottom: .5em;display: flex">
                                        {{$comment.comment|nl2br}}
                                    </div>
                                </div>
                                <div style="font-size:.9em;text-align:right;padding:0 0 .3em;border-bottom: 1px solid #dbdbdb;">
                                    <i
                                            class="fa {{if \Yao\Facade\Db::name('hearts')->where(['comment_id' => $comment.id,'user_id' => \Yao\Facade\Request::ip()])->find()->isEmpty()}}fa-heart-o{{else}}fa-heart{{/if}} like"
                                            data-id="{{$comment.id}}"
                                            style="color: red;cursor:pointer;"></i> <span class="count-heart">{{$comment.hearts}}</span>
                                    <i class="fa fa-comment-o" style="margin-left: 1em"></i> <span
                                        class="review">回复</span>
                                </div>
                                {{foreach from=$sub_comments item="sub"}}
                                {{if $sub.parent_id == $comment.id}}
                                <div style="margin: 1em 0 0;font-size: 14px;">
                                    <div style="display: flex;justify-content: space-between;line-height: 2em;height: 2em">
                                        <div><img src="/static/img/logo.png" alt=""
                                                  style="width: 2em;height: 2em;border-radius: 50%"><b
                                                style="position:absolute;font-size:14px;height: 2em;margin-left:.5em">
                                            {{$sub.name}}</b>
                                        </div>
                                        <span style="color:grey;font-size: 13px">{{$sub.create_time|time_convert}}</span>
                                    </div>
                                    <div style="padding:.5em 0 0 2.5em;word-break: break-all;word-wrap: break-word">
                                        <div>
                                            <div style="margin-bottom: .5em;display: flex">
                                                {{$sub.comment}}
                                            </div>
                                        </div>
                                        <div style="text-align:right;padding:0 .5em .3em 0;border-bottom: 1px solid #dbdbdb;">
                                            <i class="fa fa-heart like" data-id="{{$sub.id}}"
                                               style="color: red;cursor:pointer;"></i> <span class="count-heart">{{$sub.hearts}}</span>
                                            <i class="fa fa-comment-o" style="margin-left: 1em"></i> <span>回复</span>
                                        </div>
                                    </div>
                                </div>
                                {{/if}}
                                {{/foreach}}
                            </div>
                        </div>
                        {{/foreach}}
                    </div>
                    {{if count($comments) == 5}}
                    <p id="comments-more"
                       style="font-size:.8em;text-align: center;font-weight: bold;color:grey;margin: 1em 0 .5em;cursor: pointer">
                        <i class="fa fa-long-arrow-down"></i> &nbsp;&nbsp;加载更多
                    </p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{include file="index/layout/aside.html"}}
    </div>
</main>
{{/block}}
{{block name="js"}}
<script src="/static/editor/lib/marked.min.js"></script>
<script src="/static/editor/lib/prettify.min.js"></script>
<script src="/static/editor/lib/raphael.min.js"></script>
<script src="/static/editor/lib/underscore.min.js"></script>
<script src="/static/editor/lib/sequence-diagram.min.js"></script>
<script src="/static/editor/lib/flowchart.min.js"></script>
<script src="/static/editor/lib/jquery.flowchart.min.js"></script>
<!--<script src="/static/editor/editormd.js"></script>-->
<script src="/static/editor/editormd.min.js"></script>
<script>
    var testEditormdView, testEditormdView2;

    // $.get("test.md", function (markdown) {
    //
    //     testEditormdView = editormd.markdownToHTML("test-editormd-view", {
    //         markdown: markdown,//+ "\r\n" + $("#append-test").text(),
    //         //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
    //         htmlDecode: "style,script,iframe",  // you can filter tags decode
    //         //toc             : false,
    //         tocm: true,    // Using [TOCM]
    //         //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
    //         //gfm             : false,
    //         //tocDropdown     : true,
    //         // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
    //         emoji: true,
    //         taskList: true,
    //         tex: true,  // 默认不解析
    //         flowChart: true,  // 默认不解析
    //         sequenceDiagram: true,  // 默认不解析
    //     });
    //
    //     //console.log("返回一个 jQuery 实例 =>", testEditormdView);
    //
    //     // 获取Markdown源码
    //     //console.log(testEditormdView.getMarkdown());
    //
    //     //alert(testEditormdView.getMarkdown());
    // });

    testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
        htmlDecode: "style,script,iframe",  // you can filter tags decode
        emoji: false,
        taskList: true,
        tex: true,  // 默认不解析
        flowChart: true,  // 默认不解析
        sequenceDiagram: true,  // 默认不解析
    });
    // testEditormdView = editormd.markdownToHTML("test-editormd-view", {
    //     htmlDecode: "style,script,iframe",  // you can filter tags decode
    //     emoji: false,
    //     taskList: true,
    //     tex: true,  // 默认不解析
    //     flowChart: true,  // 默认不解析
    //     sequenceDiagram: true,  // 默认不解析
    // });
</script>
<script>
    function time_convert(timestamp) {
        let time = parseInt(new Date().getTime() / 1000);
        let diff = time - timestamp;
        if (diff < 60) {
            return diff + '秒前';
        } else if (diff < 3600) {
            return parseInt(diff / 60) + '分钟前';
        } else if (diff > 3600 && diff < 86400) {
            return parseInt(diff / 3600) + '小时前';
        } else if (diff > 86400 && diff < 86400 * 5) {
            return parseInt(diff / 86400) + '天前';
        }
        let date = new Date(timestamp * 1000);
        return date.getFullYear() + '/' + date.getMonth() + '/' + date.getDay();
    }

    $(() => {
        var comment_page = 2;
        $('#comments-more').on('click', function () {
            $.get('/note/{{$note.id}}/comment/p/' + comment_page++ + '?order=' + $('#sort').attr('data-id'), function (data, status) {
                if ('success' === status) {
                    if (data.top.length < 5) {
                        $('#comments-more').remove();
                    }
                    for (let i in data.top) {
                        let div = $('<div style="margin: 1em 0 0;font-size: 14px;"></div>');
                        div.html('<div style="display: flex;justify-content: space-between;line-height: 2em;height: 2em"><div><img src="/static/img/logo.png" alt="" style="width: 2em;height: 2em;border-radius: 50%"><b style="position:absolute;font-size:14px;height: 2em;margin-left:.5em">' + data.top[i].name + '</b></div><span style="color:grey;font-size: 13px">' + time_convert(data.top[i].create_time) + '</span></div><div data-id="' + data.top[i].id + '" style="padding:.5em 0 0 2.5em;word-break: break-all;word-wrap: break-word"><div><div style="margin-bottom: .5em;display: flex">' + data.top[i].comment.replace(/\n/g, '<br>') + '</div></div><div style="text-align:right;padding:0 .5em .3em 0;border-bottom: 1px solid #dbdbdb;"><i class="fa fa-heart-o like" data-id="' + data.top[i].id + '" style="color: red;cursor:pointer;"></i> <span class="count-heart">' + data.top[i].hearts + '</span><i class="fa fa-comment-o" style="margin-left: 1em"></i> <span>回复</span></div></div></div>');
                        div.appendTo('#comments');
                    }
                    for (let j in data.sub) {
                        let div = $('<div style="margin: 1em 0 0;font-size: 14px;"></div>');
                        div.html('<div style="display: flex;justify-content: space-between;line-height: 2em;height: 2em"><div><img src="/static/img/logo.png" alt="" style="width: 2em;height: 2em;border-radius: 50%"><b style="position:absolute;font-size:14px;height: 2em;margin-left:.5em">' + data.sub[j].name + '</b></div><span style="color:grey;font-size: 13px">' + time_convert(data.sub[j].create_time) + '</span></div><div style="padding:.5em 0 0 2.5em;word-break: break-all;word-wrap: break-word"><div><div style="margin-bottom: .5em;display: flex">' + data.sub[j].comment.replace(/\n/g, '<br>') + '</div></div><div style="text-align:right;padding:0 .5em .3em 0;border-bottom: 1px solid #dbdbdb;"><i class="fa fa-heart-o like" data-id="' + data.sub[j].id + '" style="color: red;cursor:pointer;"></i> <span class="count-heart">' + data.sub[j].hearts + '</span><i class="fa fa-comment-o" style="margin-left: 1em"></i> <span>回复</span></div></div></div>');
                        div.appendTo('div[data-id=' + data.sub[j].parent_id + ']');
                    }
                }
            });
        });


        $('#test-editormd-view2 h1,h2,h3,h4,h5,h6').hover(function () {
            $(this).html('<i class="fa fa-link">&nbsp;</i>' + $(this).html());
        }, function () {
            $(this).children('i').remove();
        });


        $('#comment').on('click', function () {
            // $(this).prop('disabled', true);
            if ($('textarea[name=comment]').val() === '') {
                return false;
            }
            let data = $(form).serialize();
            $.ajax({
                url: '/notes/comment',
                type: 'post',
                data: data,
                dataType: 'json',
                success: function (e) {
                    if (e.status) {
                        alert('评论成功!');
                        window.location.reload();
                    } else {
                        alert(e.message);
                    }
                },
                error: function (e) {
                    alert('服务器异常!');
                }
            });
        });

        $('#comments').on('click', '.like', function () {
            console.log($(this));
            let heart = $(this);
            let count = heart.siblings('span.count-heart').text();
            $.ajax({
                url: '/notes/heart/' + heart.attr('data-id'),
                type: 'get',
                dataType: 'json',
                success: function (e) {
                    if (e.status) {
                        heart.removeClass('fa-heart-o').addClass('fa-heart').siblings('span.count-heart').text(++count);
                    } else {
                        heart.removeClass('fa-heart').addClass('fa-heart-o').siblings('span.count-heart').text(--count);
                    }
                },
                error: function (e) {
                    alert('服务器异常!');
                }
            });
        })

        $('.review').on('click', function () {
            let html = $('<form action="" name="form"><textarea style="font-size:14px;box-sizing:border-box;padding:.5em .5em;outline:none;border:1px solid #dbdbdb;line-height:1.4em;height: 2em;width:100%;min-height:8em;border-radius: 5px;resize:vertical;margin-bottom: .5em;" name="comment" placeholder="留下你的笔迹..."></textarea><div style="display: flex;justify-content: space-between;box-sizing: border-box"><input type="text" placeholder="用户名" name="name" style="font-size:13px;padding:0 .6em;width: 90%;outline:none;border:1px solid #dbdbdb;line-height:2.5em;height: 2.5em;border-radius: 5px;"><input type="hidden" name="note_id" value="122"><div style="font-size: 2.1em;color: #4F70F6;cursor:pointer;" title="输入{狗头}可以发送狗头表情" class="fa fa-smile-o"></i></div><div style="width: 10%;min-width: 3em;"><input type="button" style="height: 100%;cursor:pointer;outline: none;width:100%;border:none;background-color: #4F70F6;color: white;border-radius: 5px" id="comment" value="发布"></div></div></form>');
            html.insertAfter($(this));
        });


        $('#test-editormd-view2 > h1,h2,h3,h4,h5,h6').each(function (index, element) {
            if ($(element).is('h1')) {
                $('<a style="font-weight: bold" href="#' + $(element).attr('id') + '">' + element.innerText + '</a>').appendTo('#catalog');
            } else if ($(element).is('h2')) {
                $('<a href="#' + $(element).attr('id') + '">&nbsp;' + element.innerText + '</a>').appendTo('#catalog');
            } else if ($(element).is('h3')) {
                $('<a href="#' + $(element).attr('id') + '">&nbsp;&nbsp;' + element.innerText + '</a>').appendTo('#catalog');
            } else if ($(element).is('h4')) {
                $('<a href="#' + $(element).attr('id') + '">&nbsp;&nbsp;&nbsp;' + element.innerText + '</a>').appendTo('#catalog');
            } else if ($(element).is('h5')) {
                $('<a href="#' + $(element).attr('id') + '">&nbsp;&nbsp;&nbsp;&nbsp;' + element.innerText + '</a>').appendTo('#catalog');
            } else if ($(element).is('h6')) {
                $('<a href="#' + $(element).attr('id') + '">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + element.innerText + '</a>').appendTo('#catalog');
            }
        });

    })
</script>
{{/block}}